@import "tailwindcss";

body {
    background: #18181b;
    color: white;


  }
/* Search Bar Styles */
.search-text {
  font-size:14px;
}
.search-container {
  position: relative;
  width: 100%;
  max-width: 350px;
  border-radius: 9999px; /* Ensures fully rounded corners */
  padding: 1px; /* Creates space for the border */
  background: linear-gradient(to right, #3B82F6, #EC4899); /* Gradient border */
}

.search-input {
  width: 100%;
  padding: 8px 16px;
  padding-left: 40px;
  background: #0f0f0f; /* Your theme background */
  color: white;
  border: none; /* Remove default border */
  border-radius: 9999px; /* Ensures the input stays rounded */
  font-size: 14px;
  outline: none;
  display: block;
}

/* necessary as swiper by default place them in aposition absolute, on top of the slider */
.swiper-pagination {
  color:white;
  position: relative !important;
  margin-top: 6px; /* Adjust as needed */
}
.swiper-pagination-bullet {
  background: white !important; /* Change to any color */
  opacity: 0.6; /* Slight transparency for inactive dots */
}

/* Change the color of the active dot */
.swiper-pagination-bullet-active {
  background: #EC4899 !important; /* Example: Yellow */
  opacity: 1;
}